*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 650px;
    height: 650px;
    background-color: blanchedalmond;
    margin: 50px auto;
    display: flex
}
.calWrapper{
    width: 300px;
    height: 500px;
    border: 11px groove #6e6b71;
    margin: auto;
    background-color: #1F1F1F;
    border-radius: 67px/27px;
}
.topDiv{
    width: 210px;
    height: 30px;
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #1F1F1F, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left top, #1F1F1F, #ffffff); /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(left top, #1F1F1F, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right bottom, #1F1F1F, #ffffff);   /* Standard syntax */   
    border-radius: 5px;
    border: 2px solid #000;
    margin: 42px 0 0 45px;
    box-shadow: -1px -1px 3px rgba(63, 64, 92, .5);
}
.topSmall{
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    float: left;
    
}
.topSmall:last-child{
    border-right: none;
}
.calContent{
    width: 300px;
    height: auto;
    margin: 40px 0 0 5px;
    padding: 0 10px 10px 10px;
}
input[type="text"]{
    width: 275px;
    height: 70px;
    box-sizing: border-box;
    background-color: #B6CDFF;
    background: -webkit-linear-gradient(left, #1F1F1F, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #1F1F1F, #ffffff); /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(left, #1F1F1F, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #B6CDFF, #D8F1FF);   /* Standard syntax */ 
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 39px;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    padding: 0 5px;
}
input::placeholder{
    color: #000;
}
.btnGroup{
    margin-top: 30px;
}
input[type="button"]{
    display: block;
    float: left;
    width: 55px;
    height: 34px;
    box-sizing: border-box;
    margin: 7px;
    border-radius: 5px;
    box-shadow: -2px -1px 2px rgba(221, 221, 221, 0.8);
    outline: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}


input[type="button"]:active{
    background: #000;
    font-size: 25px;
    border: 3px solid #BFD6FF;
    color: #fff;
    transform: translateY(5px)
}

