.wrapper{}
.calWrapper{
    width: 300px;
    height: 480px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #3A4342;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
    margin: 50px auto;
    border-radius: 5px;
    
}
#scrnOne{
    width: 100%;
    height: auto;
    font-size: 50px;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    margin: 30px 0 0 0; 
    text-align: right;
}
#scrnTwo{
    width: 100%;
    height: auto;
    font-size: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 3px;
    margin: 0 0 30px 0; 
    text-align: right;
}

input[type="button"]{
    width: 64px;
    height: 40px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: #000;
    background: #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 400;
}