*{
    padding: 0;
    margin: 0;
}
.calWrapper{
    width: 640px;
    height: 640px;
    margin: 50px auto;
    background: url(img/phone.png) no-repeat left top;
    display: flex;
}
.mainCal{
    width: 168px;
    height: 276px;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    margin: auto;
    
}
.screen{
    width: 100%;
    height: 20%;
    margin-bottom: 4%;
}
hr{
    margin-bottom: 4%;
}
input[type="text"]{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.45em;
    font-family: 'Orbitron', sans-serif;
    padding: 0 3px;
    font-weight: 400;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    background-color: #eaeaea;
}
.btnGroup{
    width: 100%;
    height: 74%;
    box-sizing: border-box;
}
input[type="button"]{
    width: 23.2%;
    height: 18.3%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
input[type="button"]:hover{
    background: #ddd;
}

input[type="button"]:active{
    background: #28ABE2;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
}